body {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;

   
}

.margin {
    /* margin-left: 50px;
    margin-right: 50px; */
}

.btn-secondary{
    margin-left: 10px;
}

#categoryBtn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%
}

body, input{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    line-height: 1.65em;
    font-size: 12pt;
}


h1 a, h2 a, h3 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}
h1 {
    font-family: 'Didot';
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 1.5em 0;
    line-height: 1.75em;
    text-align: center;
    color: rgb(71, 40, 27);
}
h2 {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 .25em 0;
    line-height: 2.75em;
}

h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
    margin: 0 0 1.25em 0;
    line-height: 2.75em;
}
h4 {
   font-family: 'Source Sans Pro';
   font-weight: 300;
   color: #777;
   font-size: 1.25em;
   letter-spacing: 2px;
   margin: 0 0 1.25em 0;
}

li {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0 0 1.25em 0;
}

h4 a {
   color: rgb(53, 44, 40);
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
  }

a {

    color: #666;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

    a:hover {
        color: #002e06;
        border-bottom-color: rgba(255, 255, 255, 0);
   }

        a:hover strong {
            color: #013d1f;
        }

strong, b {
    font-weight: 600;
    color: #666;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

.error-message {
   background-color: #fce4e4;
   border: 1px solid #fcc2c3;
   float: left;
   padding: 20px 30px;
}

.error-text {
   color: #cc0033;
   font-family: Arial, sans-serif;
   font-size: 13px;
   font-weight: bold;
   line-height: 20px;
   text-shadow: 1px 1px rgba(250,250,250,.3);
 }

 .field_with_errors {
   background-color: #f18080;
   border: 1px solid #9b2d2f;
}

.text-my-own-color {
   font-family: 'Source Sans Pro';
   font-size: 24px;
   color: #ffffff !important;
   text-emphasis: emphasis;
   
}
.row{
   justify-content: space-evenly;
 }
.card {  
justify-content: center;
align-items: center;
}

.card-img-top {
   width: 100%;
   border-top-left-radius: calc(.25rem - 1px);
   border-top-right-radius: calc(.25rem - 1px);
   height: 234px;
}
/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}
© 2021 GitHub, Inc.